LINUX_PRIVATE_KEY_BASE64=
LINUX_HOST=
LINUX_USERNAME=
ELASTIC_USERNAME=
ELASTIC_PASSWORD=
AUTH_DB_USER=
AUTH_DB_PASSWORD=
JWT_KEY=
SENDER_PASSWORD=
SUPER_ADMIN_USERNAME=
SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_EMAIL=
USER_PASSWORD=
USER_EMAIL=
DATA_MNGMNT_DB_USER=
DATA_MNGMNT_DB_PASSWORD=
DOCKERHUB_USERNAME=
DOCKERHUB_TOKEN=
RABBITMQ_PASSWORD=
RABBITMQ_USERNAME=
GRAFANA_USERNAME=
GRAFANA_PASSWORD=